.App {
  border: solid;
  text-align: center;
}

.grid {
  border: solid aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  border: solid red;
  width: 250px;
  height: 300px;
  margin: 10px 200px;

}

.top-item {
  border: solid green;
}

.mid-item {
  border: solid orange;
}

.bottom-item {
  border: solid blue;
}


